body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

.card {
  background: linear-gradient(90deg, rgba(255,3,0,0) 0%, rgba(238,214,27,0) 100%);
}

.navbar{
  z-index: 1
}

.notification{
  position: absolute;
  z-index:3
}
.modal{
  z-index:2;
}
